  <div class="row">

    <div class="col span-1-of-2">
      <%= render 'form'%>
    </div>

    <div class="col span-1-of-2 requests">
      <h1><%=@posts.count%> requests</h1>
        <div class="request-list">
          <% @posts.each do |post|%>
          <p><%=post.text%> <%=post.created_at%></p>
          <%end%>
        </div>
    </div>

</div>
